body{
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

h1{
  font-size: 60px;
  margin-bottom: 10px;
}

.webpage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-section{
  line-height: 2.5;
}

.input-section button{
  background-color: brown;
  width: 400px;
  height: 30px;
  border-radius: 20px;
  color: white;
  border: solid 0px;
  cursor: pointer;
}

.input-section button:hover{
  background-color: red;
}

.guest-section {
  justify-content: center;
  display: flex;
  margin: 0;
  text-align: center;
}

.guest-section p{
  color: blue;
  text-align: center;
  flex-direction: column;
  position: relative;
}